# Common Functions and Modules

* Common Functions
    * print
    * len
    * abs
    * type
    * isinstance
    * issubclass
    * id
    * range
    * str
    * int
    * float
    * bool
    * list
    * tuple
    * dict
    * input
    * max
    * min
    * sum
    * zip
    * map
    * filter
    * sorted
    * enumerate
    * reversed
    * all
    * any

* Common Modules
    * random
    * string
    * datetime
    * pytz
    * dateutil
    * json
    * re
    * functools
    * math
    * copy
    * os
    * requests

## Common Functions

### print

In [1]:
print('Print this line')

Print this line

### len

In [2]:
len([1, 2, 3, 4, 5])

5

### abs

In [3]:
abs(-5)

5

### type

In [4]:
type(2.0)

float

### isinstance

In [5]:
isinstance("Hello", str)

True

In [6]:
# is instance of any of the type in the list
isinstance("Hello", (float, int, str, list, dict, tuple))

True

### issubclass

In [7]:
class Parent:
  p_attr = 1

class Child(Parent):
  c_attr = 'sample'

issubclass(Child, Parent)

True

### id

In [8]:
x, y, z = 1, 1, 2
print(f"x: {id(x)}")
print(f"y: {id(y)}")
print(f"z: {id(z)}")

x: 4350909800
y: 4350909800
z: 4350909832

### range

In [9]:
for i in range(0, 20, 2):
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18

### str

In [10]:
str(3.14)

'3.14'

### int

In [11]:
int('123')

123

### float

In [12]:
float('3.14')

3.14

### bool

In [13]:
bool(0)

False

### list

In [14]:
list({1, 2, 3})

[1, 2, 3]

### tuple

In [15]:
tuple([1, 2, 3])

(1, 2, 3)

### dict

In [16]:
dict([['a', 1], ['b', 2], ['c', 3]])

{'a': 1, 'b': 2, 'c': 3}

### input

In [17]:
city = input("Where do you live?: ")
print(f"Let's go to, {city.capitalize()}!")

Where do you live?:  pune

Let's go to, Pune!

### max

In [18]:
max(1,2,3)

3

In [19]:
max([1,2,3])

3

In [20]:
max((1,2,3))

3

In [21]:
max({1,2,3})

3

### min

In [22]:
min(1,2,3)

1

### sum

In [23]:
sum([1,2,3])

6

In [24]:
sum((1,2,3))

6

In [25]:
sum({1,2,3})

6

### zip

In [26]:
states = ['Maharashtra', 'Karnataka', 'Tamilnadu', 'Gujrat']
capitals = ['Mumbai', 'Bangalore', 'Chennai', 'Gandhinagar']

for state, capital in zip(states, capitals):
    print(f"Capital of {state:12} is {capital:12}")

Capital of Maharashtra  is Mumbai
Capital of Karnataka    is Bangalore
Capital of Tamilnadu    is Chennai
Capital of Gujrat       is Gandhinagar

In [27]:
list(zip(states, capitals))

[('Maharashtra', 'Mumbai'),
 ('Karnataka', 'Bangalore'),
 ('Tamilnadu', 'Chennai'),
 ('Gujrat', 'Gandhinagar')]

In [28]:
dict(zip(states, capitals))

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Tamilnadu': 'Chennai',
 'Gujrat': 'Gandhinagar'}

### map

In [29]:
def square(x): return x**2

numbers = [1, 2, 3, 4, 5]
squares = map(square, numbers)

squares

In [30]:
print("Original numbers:", numbers)
print("Squared numbers:", list(squares))

Original numbers: [1, 2, 3, 4, 5]
Squared numbers: [1, 4, 9, 16, 25]

In [31]:
list(map(lambda x: x*x, numbers))

[1, 4, 9, 16, 25]

### filter

In [32]:
list(filter(lambda x: x%2==0, numbers))

[2, 4]

In [33]:
list(filter(None, [1, 'str', None, 3.14, None]))

[1, 'str', 3.14]

### sorted

In [34]:
xs = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
ys = sorted(xs)
print(f"xs: {xs}")
print(f"ys: {ys}")

xs: [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
ys: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [35]:
# reverse sorting
xs = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted(xs, reverse=True)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [36]:
# string sorting
xs = ["Python", "Ruby", "Go", "java"]
sorted(xs)

['Go', 'Python', 'Ruby', 'java']

### enumerate

In [37]:
xs = ["Python", "Ruby", "Go", "Java"]
for i, lang in enumerate(xs):
    print(f"{i}: {lang}")

0: Python
1: Ruby
2: Go
3: Java

In [38]:
xs = ["Python", "Ruby", "Go", "Java"]
for i, lang in enumerate(xs, start=1):
    print(f"{i}: {lang}")

1: Python
2: Ruby
3: Go
4: Java

### reversed

In [39]:
xs = [1, 4, 2, 7, 5]
list(reversed(xs))

[5, 7, 2, 4, 1]

### all

In [40]:
def is_even(num): return num % 2 == 0

xs = [1, 2, 3, 4, 5]
all([is_even(x) for x in xs])

False

In [41]:
xs = [2, 2, 6, 4, 8]
all([is_even(x) for x in xs])

True

### any

In [42]:
def is_even(num): return num % 2 == 0

xs = [1, 2, 3, 4, 5]
any([is_even(x) for x in xs])

True

## Common Modules

### random

In [43]:
import random
random.randint(100, 1000)

779

In [44]:
random.randrange(10)

9

In [45]:
random.randrange(10, 20)

16

### string

In [46]:
import string
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.digits)
print(string.hexdigits)
print(string.whitespace)  # ' \t\n\r\x0b\x0c'
print(string.punctuation)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
0123456789abcdefABCDEF


!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [47]:
def random_string(stringLength=10):
    letters = string.ascii_lowercase + string.digits
    return ''.join(random.choice(letters) for i in range(stringLength))

random_string()

'5orujun2fo'

### datetime

In [48]:
import datetime
print(datetime.MINYEAR)
print(datetime.MAXYEAR)
print(datetime.UTC)

1
9999
UTC

In [49]:
from datetime import date
today = date.today()
print(f"today: {today}")
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)
dt = date(1947, 8, 15)
print(f"d: {dt}")
print(f"timedelta: {today - dt}")
today

today: 2024-01-14
Current year: 2024
Current month: 1
Current day: 14
d: 1947-08-15
timedelta: 27911 days, 0:00:00

datetime.date(2024, 1, 14)

In [50]:
from datetime import time
tym = time(12, 30, 0)
print(f"time: {tym}")
tym

time: 12:30:00

datetime.time(12, 30)

In [51]:
from datetime import datetime
date_time = datetime.fromtimestamp(981444643)
print("Datetime from timestamp:", date_time)
date_time

Datetime from timestamp: 2001-02-06 13:00:43

datetime.datetime(2001, 2, 6, 13, 0, 43)

In [52]:
from datetime import timedelta
current_time = datetime.now()
print(f"current_time: {current_time}")
later_time = current_time + timedelta(days=15, hours=5, minutes=10, seconds=10)
print(f"later_time: {later_time}")

current_time: 2024-01-14 10:32:21.192849
later_time: 2024-01-29 15:42:31.192849

In [53]:
from datetime import timezone, timedelta
 
format = "%Y-%m-%d %H:%M:%S %Z%z"
 
# Current time in UTC
now_utc = datetime(1947, 8, 15, tzinfo=timezone.utc) 
timezones = {'UTC': timedelta(), 'Asia/Kolkata': timedelta(hours=5, minutes=30), 'Europe/Kiev': timedelta(hours=2), 'America/New_York': timedelta(hours=-5)}
 
for zone_name, tzone in timezones.items():
    now_tz = now_utc.astimezone(timezone(tzone))
    print(f"{zone_name:20} {now_tz.strftime(format)}")

UTC                  1947-08-15 00:00:00 UTC+0000
Asia/Kolkata         1947-08-15 05:30:00 UTC+05:30+0530
Europe/Kiev          1947-08-15 02:00:00 UTC+02:00+0200
America/New_York     1947-08-14 19:00:00 UTC-05:00-0500

In [23]:
from datetime import timezone, timedelta, datetime
 
format = "%Y-%m-%d %H:%M:%S %Z%z"
 
# Current time in UTC
x = datetime(1947, 8, 15, 12, tzinfo=timezone.utc)
y = datetime(1947, 8, 15, 17, 29, tzinfo=timezone(timedelta(hours=5, minutes=30)))
x > y

True

### pytz

In [54]:
from datetime import datetime
from pytz import timezone
 
format = "%Y-%m-%d %H:%M:%S %Z%z"
 
# Current time in UTC
now_utc = datetime.now(timezone('UTC')) 
timezones = ['UTC', 'Asia/Kolkata', 'Europe/Kiev', 'America/New_York']
 
for tzone in timezones:
    now_tz = now_utc.astimezone(timezone(tzone))
    print(f"{tzone:20} {now_tz.strftime(format)}")

UTC                  2024-01-14 05:02:21 UTC+0000
Asia/Kolkata         2024-01-14 10:32:21 IST+0530
Europe/Kiev          2024-01-14 07:02:21 EET+0200
America/New_York     2024-01-14 00:02:21 EST-0500

### dateutil
**This is third party package, make sure to install python-dateutil**  
`pip install python-dateutil`

In [55]:
from dateutil.parser import parse
print(parse("Thu Sep 20 10:36:28 UTC 2000"))
print(parse("Thu Sep 20 10:36:28 IST 2000"))
print(parse("21 Sep 2000 10:36:28"))
print(parse("22 09 2000 10:36:28"))
print(parse("23 09 2000"))
print(parse("2000-09-24"))
print(parse("2000 Sep 25 10:36:28"))
print(parse("26 Sep 10:36:28"))
print(parse("Thu Sep 10:36:28"))
print(parse("Thu 10:36:28"))

2000-09-20 10:36:28+00:00
2000-09-20 10:36:28+05:30
2000-09-21 10:36:28
2000-09-22 10:36:28
2000-09-23 00:00:00
2000-09-24 00:00:00
2000-09-25 10:36:28
2024-09-26 10:36:28
2024-09-19 10:36:28
2024-01-18 10:36:28

In [56]:
from dateutil.relativedelta import relativedelta
current_time = datetime.now().astimezone()
print(current_time)
print(current_time + relativedelta(months=2))
print(current_time + relativedelta(months=2, days=5, hours=-1, minutes=30, seconds=20, microseconds=100000))
print(current_time + relativedelta(months=2, days=5, hours=-1, minute=0, second=0))

2024-01-14 10:32:21.242860+05:30
2024-03-14 10:32:21.242860+05:30
2024-03-19 10:02:41.342860+05:30
2024-03-19 09:00:00.242860+05:30

### json

In [57]:
import json
data = {
    "string": "India",
    "integer": 12345,
    "float": 3.14,
    "boolean": True
}
data

{'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True}

In [58]:
json_str = json.dumps(data)
json_str

'{"string": "India", "integer": 12345, "float": 3.14, "boolean": true}'

In [59]:
parsed_data = json.loads(json_str)
parsed_data

{'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True}

In [60]:
parsed_data == data

True

### re

In [61]:
import re
def to_lower(match_obj):
    if match_obj.group() is not None:
        return match_obj.group().lower()
    return ''

def underscore(word):
    word = re.sub(r'[A-Z]', lambda x: f"_{to_lower(x)}", word)
    return re.sub("(^_*|_*$)", '', word)

def pluralize(word):
    word = underscore(word)
    if re.search('[sxz]$', word) or re.search('[^aeioudgkprt]h$', word):
        return re.sub('$', 'es', word)

    elif re.search('[^aeiou]y$', word):
        return re.sub('y$', 'ies', word)

    else:
        return word + 's'

In [62]:
print(underscore("ClassName"))
print(pluralize("class"))
print(pluralize("function"))
print(pluralize("body"))

class_name
classes
functions
bodies

### functools

In [63]:
from functools import reduce
sumation = reduce(lambda x, y: x+y, range(1, 11))
product = reduce(lambda x, y: x*y, range(1, 11))
maximum = reduce(lambda x, y: x if x > y else y, range(1, 11))

print(f"sum: {sumation}")
print(f"product: {product}")
print(f"max: {maximum}")

sum: 55
product: 3628800
max: 10

### math

In [64]:
import math
print(math.pi)
print(math.inf)
print(math.e)
print(math.nan)
print(math.tau)

3.141592653589793
inf
2.718281828459045
nan
6.283185307179586

In [65]:
print(math.floor(math.pi))
print(math.ceil(math.pi))
print(math.gcd(100, 75))
print(math.sqrt(144))
print(math.log(1000))
print(math.log10(1000))
print(math.log2(64))
print(math.sin(0.9))
print(math.radians(60))
print(math.pow(2, 5))
print(math.perm(10, 2))
print(math.comb(10, 2))

3
4
25
12.0
6.907755278982137
3.0
6.0
0.7833269096274834
1.0471975511965976
32.0
90
45

### copy

In [66]:
# problem statement
data = {
    "string": "India",
    "integer": 12345,
    "float": 3.14,
    "boolean": True
}
print(f"data:      {data}")
data_copy = data
data_copy['integer'] = 100
print(f"data:      {data}")
print(f"data_copy: {data_copy}")

data:      {'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True}
data:      {'string': 'India', 'integer': 100, 'float': 3.14, 'boolean': True}
data_copy: {'string': 'India', 'integer': 100, 'float': 3.14, 'boolean': True}

In [67]:
# shallow copy
import copy
data = {
    "string": "India",
    "integer": 12345,
    "float": 3.14,
    "boolean": True,
    "nested": {
        "fruit": "Apple",
        "vegitable": "Cabbage"
    }
}
print(f"data:      {data}")
data_copy = copy.copy(data)
data_copy['integer'] = 100
data_copy['nested']['fruit'] = 'Orange'
print(f"data:      {data}")
print(f"data_copy: {data_copy}")

data:      {'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True, 'nested': {'fruit': 'Apple', 'vegitable': 'Cabbage'}}
data:      {'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True, 'nested': {'fruit': 'Orange', 'vegitable': 'Cabbage'}}
data_copy: {'string': 'India', 'integer': 100, 'float': 3.14, 'boolean': True, 'nested': {'fruit': 'Orange', 'vegitable': 'Cabbage'}}

In [68]:
# deep copy
import copy
data = {
    "string": "India",
    "integer": 12345,
    "float": 3.14,
    "boolean": True,
    "nested": {
        "fruit": "Apple",
        "vegitable": "Cabbage"
    }
}
print(f"data:      {data}")
data_copy = copy.deepcopy(data)
data_copy['integer'] = 100
data_copy['nested']['fruit'] = 'Orange'
print(f"data:      {data}")
print(f"data_copy: {data_copy}")

data:      {'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True, 'nested': {'fruit': 'Apple', 'vegitable': 'Cabbage'}}
data:      {'string': 'India', 'integer': 12345, 'float': 3.14, 'boolean': True, 'nested': {'fruit': 'Apple', 'vegitable': 'Cabbage'}}
data_copy: {'string': 'India', 'integer': 100, 'float': 3.14, 'boolean': True, 'nested': {'fruit': 'Orange', 'vegitable': 'Cabbage'}}

### os

In [69]:
import os
print(os.environ['HOME']) # This will throw an error is key is invalid
print(os.getenv('HOME'))
print(os.getenv('HOMES'))
print(os.curdir)
print(os.getcwd())

/Users/arvind
/Users/arvind
None
.
/Users/arvind/Study/Python/Introduction To Python

### requests
**This is third party package, make sure to install requests**  
`pip install requests`

In [70]:
import requests 

response = requests.get('https://api.github.com/')
print(f"url:          {response.url}")
print(f"status code:  {response.status_code}")
print(f"content type: {response.headers['Content-Type']}")
response_json = response.json()
print(f"from json:    {response_json['current_user_url']}\n")
print(response.content)

url:          https://api.github.com/
status code:  200
content type: application/json; charset=utf-8
from json:    https://api.github.com/user

b'{\n  "current_user_url": "https://api.github.com/user",\n  "current_user_authorizations_html_url": "https://github.com/settings/connections/applications{/client_id}",\n  "authorizations_url": "https://api.github.com/authorizations",\n  "code_search_url": "https://api.github.com/search/code?q={query}{&page,per_page,sort,order}",\n  "commit_search_url": "https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}",\n  "emails_url": "https://api.github.com/user/emails",\n  "emojis_url": "https://api.github.com/emojis",\n  "events_url": "https://api.github.com/events",\n  "feeds_url": "https://api.github.com/feeds",\n  "followers_url": "https://api.github.com/user/followers",\n  "following_url": "https://api.github.com/user/following{/target}",\n  "gists_url": "https://api.github.com/gists{/gist_id}",\n  "hub_url": "https://api.github.com/hub",\n  "issue_search_url": "https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}",\n  "issues_url": "https://api.github.com/issues",\n  "keys_url": "https://api.github.com/user/keys",\n  "label_search_url": "https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}",\n  "notifications_url": "https://api.github.com/notifications",\n  "organization_url": "https://api.github.com/orgs/{org}",\n  "organization_repositories_url": "https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}",\n  "organization_teams_url": "https://api.github.com/orgs/{org}/teams",\n  "public_gists_url": "https://api.github.com/gists/public",\n  "rate_limit_url": "https://api.github.com/rate_limit",\n  "repository_url": "https://api.github.com/repos/{owner}/{repo}",\n  "repository_search_url": "https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}",\n  "current_user_repositories_url": "https://api.github.com/user/repos{?type,page,per_page,sort}",\n  "starred_url": "https://api.github.com/user/starred{/owner}{/repo}",\n  "starred_gists_url": "https://api.github.com/gists/starred",\n  "topic_search_url": "https://api.github.com/search/topics?q={query}{&page,per_page}",\n  "user_url": "https://api.github.com/users/{user}",\n  "user_organizations_url": "https://api.github.com/user/orgs",\n  "user_repositories_url": "https://api.github.com/users/{user}/repos{?type,page,per_page,sort}",\n  "user_search_url": "https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"\n}\n'